@font-face {
    font-family: "MADE-Sunflower";
    src: url("/fonts/MADE-Sunflower.otf");
}

body {
    background-color: #AEAEAE;
    font-family: "MADE Sunflower";
    @media (min-width: 550px){
        background-color: lavenderblush;  
    }
    @media (min-width: 750px){
        background-color: rgb(226, 14, 85); 
    }


}


img {
    width: 100%;
}

.container {
    padding: 20px;
}

.top {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color:white;
        font-size: 36px;
        transform: rotateZ(15deg);
        animation: rotate-circle 1s infinite alternate;

        @media (min-width: 550px){
            font-size: 4vw;
        }
    }
}
@keyframes rotate-circle {
   from{
       transform: rotate(0deg);
   }   to{
       transform: rotate(90deg);
   }
}


.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: 550px){
        flex-direction: row;
        justify-content: space-between;
    }

    &-top-image {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 550px){
            width: 49%;
            clip-path: polygon(57% 8%, 100% 0, 100% 100%, 39% 98%, 93% 55%);
        }
    }

    &-second-images {
        display: flex;
        justify-content: space-between;

        @media (min-width: 550px){
            width: 49%;
        }
    }

    &-second-image-s {
        width: 36%;
    }

    &-second-image-m {
        width: 60%;
    }
}

.about {
    width: 100%;

    p {
        font-size: 17px;
        line-height: 126%;

        @media (min-width: 550px){
            font-size: 4vw;
            line-height: 5vw;
        }
            
        }
    }

.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-headline {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: rgb(248, 204, 108);
            font-size: 36px;
            transform: rotateZ(15deg);

            @media (min-width: 550px){
                font-size: 4vw;
            
            }
        }
    }

    &-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media (min-width: 550px){
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        a {
            text-decoration: none;
        }
    }

    &-button {
        background-color: yellow;
        border: 1px solid black;
        border-radius: 18px;
        padding: 22px;
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
        color: black;

        @media (min-width: 550px){
            margin: 1wv;
            width: 25vw;
        }
    }

    &-button:hover {
        opacity: 0.5;
    }
}

.check-this {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 500px;
    right: 300px;
    box-shadow: 0px 4px 16px;
    

    a {
        text-decoration: none;
        color: black;
    }

}